*{
	padding:0; 
	margin:0;
	font-family:sans-serif;
	box-sizing: border-box;
}
html {
	font-size: 16px;
}

body{
	background: rgba(232, 85, 226, 0.82);
}

.motor {
	margin-bottom: 2rem;
}
.container{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column nowrap;
}
h1{
	color:white;
	font-size:60px;
	font-weight:700;
	letter-spacing:16px;
	margin-bottom:20px;
	position:relative;
}
.url-form {
		display: flex;

}
.input{
   width: 50vh;
   height: 3rem;;
   background: #2b303b;
   border: none;
   padding: 1rem;
	border-radius: 2rem;
	font-weight: 500;
	font-size: 1.2rem;
	color: lightblue;
         
}
::placeholder {
	  color: #63717f;
}

.btn{
	display: block;
	background: rgba(232, 85, 226, 0.82);
	color: white;
	border: 2px solid;
	height: 2.5rem;
	border-radius: 10px;
    width: 6rem;
	align-self: center;
	margin-left: 1rem;
}


            
