*{
	padding:0; 
	margin:0;
	font-family:sans-serif;
}

body{
	background:#2196f3db;
}

.container span{
	display:block;
}
.container{
	text-align:center;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}
h1{
	color:white;
	font-size:60px;
	font-weight:700;
	letter-spacing:16px;
	margin-bottom:20px;
	position:relative;
}
.text2{
	font-size: 25px;
	color:black;
}

.inpt{
    margin-top:20px;
    width: 300px;
   height: 50px;
   background: #2b303b;
   border: none;
   font-size: 10pt;
   float: left;
   color: #63717f;
   
 
         
}

.btn{
	 display: block;
	  float: left;
    height: 40px;
    margin: -1px -2px -2px;
    width: 41px;
}


            
