<!DOCTYPE html>
<html>
<head>
	<title>Strip</title>
	<meta charset="utf-8">
<!--	<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/strip.css")}}"> -->
	<link rel="stylesheet" type="text/css" href="../static/css/strip.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<main class="container">
		<h1>Strip</h1>
		<i class="motor">Shorter Urls</i>
	<div class="url-form">
		  <input class="input" type='url' placeholder="Url..">
		  <button class="btn">GO</button>

	</div>
	</main>
</body>
</html>