<!DOCTYPE html>
<html>
<head>
	<title>Strip</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/strip.css")}}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
	<div class="container">
		<h1>Strip</h1>
		<span class="text2"><i>Shorter Urls</i></span>
	<div clas="btn">
		  <input class="inpt" type="text" placeholder="Url..">
		  <button class="btn">GO</button>

	</div>
	</div>
</body>
</html>